@page "/adults"

@using FamiliesManager.Models
@using FamiliesManager.Data

@inject IAdultService AdultService
@inject NavigationManager NavigationManager

<h3>The adults</h3>
<hr/>

@if (allAdults == null)
{
    <p>
        <em>Loading...</em>
    </p>
    <div class="spinner"></div>
}
else if (!allAdults.Any())
{
    <p>
        <em>List is empty. Please add some data.</em>
    </p>
}
else
{
    <div class="row">
        @foreach (var adult in allAdults)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card h-100 text-center">
                    <div class="card-header">
                        <h3>@adult.FirstName @adult.LastName</h3>
                    </div>
                    <div class="card-body">
                        <label class="text-muted"> Personal Information </label>
                        <p class="card-text"><strong>ID:</strong> @adult.Id</p>
                        <p class="card-text"><strong>Age:</strong> @adult.Age</p>
                        <p class="card-text"><strong>Sex:</strong> @adult.Sex</p>
                        <p class="card-text"><strong>Eye color:</strong> @adult.EyeColor</p>
                        <p class="card-text"><strong>Hair color:</strong> @adult.HairColor</p>
                        <p class="card-text"><strong>Weigth:</strong> @adult.Weight kg</p>
                        <p class="card-text"><strong>Heigth:</strong> @adult.Height cm</p>
                        <hr/>
                        <label class="text-muted"> Job</label>
                        <h5 class="card-title">@adult.JobTitle.JobTitle</h5>
                        <p class="card-text"><strong>Salary:</strong> @adult.JobTitle.Salary dkk/month</p>
                    </div>
                    <div class="card-footer">
                        <button @onclick="@(() => Remove(adult.Id))" >
                            <i class="oi oi-trash" style="color: firebrick"></i>
                        </button>
                        <button @onclick="@(() => Edit(adult.Id))">
                            <i class="oi oi-pencil" style="color: #1b6ec2"></i>
                        </button>
                    
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IList<Adult> allAdults;
    
    private void Remove(int id)
    {
        Adult toRemove = allAdults.First(ad => ad.Id == id);
        allAdults.Remove(toRemove);
        AdultService.Delete(id);
    }
    
    private void Edit(int id)
    {
        NavigationManager.NavigateTo($"Edit/{id}");
    }

    protected override async Task OnInitializedAsync()
    {
        allAdults = AdultService.ReadAll();
    }

}